.container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  border: 1px solid white;
}
.time {
  display: flex;
  gap: 4px;
}