.container {
  color: white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.locked {
  opacity: 0.3;
}
@media (min-width: 900px) {
  .container {
    width: 900px;
    height: 900px;
  }
}