@import './vars.scss';

* {
  font-family: $main-font;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100dvh;
}
body {
  background-color: $bg-main;
  color: $main-font-color;
}
.homepage {
  height: 100dvh;
  display: grid;
  align-items: baseline;
  grid-template-rows: 1fr auto 1fr;
  padding: 0 16px;
}
.title {
  padding: 16px 8px;
  text-align: end;
}