.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  touch-action: none;
}
.container:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  touch-action: none;
}
.pieceImage {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  touch-action: none;
  z-index: inherit;
}